name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Install use-miden-para-react deps
        run: yarn install --cwd packages/use-miden-para-react --frozen-lockfile
      - name: Run tests
        run: npm test
      - name: Build use-miden-para-react
        run: yarn --cwd packages/use-miden-para-react build
      - name: Prepare build directory
        run: mkdir -p build
      - name: Run build
        run: npm run build
